@import "../styles/variables.scss";

.container {
  font-family: $nunito;
  margin: $xl-size auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: $nunito;
  font-size: 5rem;
  color: $light-purple;
}

@media (max-width: $desktop-breakpoint) {
  .container {
    margin: $l-size $l-size;
  }
}
