@import "../styles/variables.scss";

.container {
  * {
    font-family: $nunito;
  }
  padding-bottom: $l-size;
  background: $primary;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25);
}

.header {
  color: white;
  padding: $m-size $m-size $xs-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  p {
    text-align: center;
    font-size: $font-size-md;
  }
}

.btn {
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
  background: $secondary;
  color: #fff;
  font-size: $font-size-sm;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: all 0.3s;
  text-decoration: none;
  &:hover {
    background: white;
    color: $primary;
  }
}

.timeline {
  h2 {
    margin-bottom: 0;
  }

  p {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.2;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }

  div {
    border-radius: 8px;
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: white;
  }

  li:nth-child(odd) div {
    left: 40px;
  }

  li:nth-child(even) div {
    left: -434px;
  }

  li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: $secondary;
    transform: translateX(-50%);
    border-radius: 50%;
  }

  div:before {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }

  li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent white;
  }
}

@media (max-width: 900px) {
  .timeline {
    div {
      width: 250px;
    }

    li:nth-child(even) div {
      left: -284px;
    }
  }
}

@media (max-width: 600px) {
  .timeline {
    p {
      line-height: 1.4;
      font-size: 1.1rem;
    }
    li {
      margin-left: $m-size;
    }

    div {
      width: calc(100vw - 90px);
    }

    li:nth-child(even) div {
      left: 40px;
    }

    li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #eee transparent transparent;
    }
  }
}
