@import "../styles/variables.scss";

.footerBase {
  height: 100%;
  font-family: $nunito;
  background: $dark-black;
  color: white;
  text-align: center;
  p {
    padding-top: $m-size;
    font-size: $font-size-sm;
    font-weight: 600;
  }
}
