@import "../styles/variables.scss";

.hero {
  background: rgb(131, 87, 197);
  background: linear-gradient(
    216deg,
    rgba(131, 87, 197, 1) 16%,
    rgba(165, 175, 215, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-bottom: 7px solid $dark-purple;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.25);
}

.heroTextBase {
  width: 100vw;
  background: $dark-black;
}

.heroText {
  margin: $xs-size auto;
  h2 {
    font-family: $nunito;
    color: white;
    text-align: center;
    margin: $m-size 0 0 0;
  }
  p {
    margin: $xs-size;
    color: white;
    font-family: $nunito;
    font-size: $font-size-sm;
    font-weight: 600;
    padding: $s-size;
    text-align: center;
  }
}

.profilePicContainer {
  height: 300px;
  width: 300px;
  background: url("../img/thisdotAaron.png") no-repeat center center;
  background-size: 300px 300px;
  box-shadow: inset 0px 0px 10px hsla(0, 0%, 0%, 0.2);
  border-radius: 50%;
  margin: $xs-size;
}

@media (min-width: 540px) {
  .heroText {
    max-width: 960px;
  }
}
